---
import { getCollection } from 'astro:content'
import { SIDEBAR } from '../../sidebar.config'
import { Icon } from 'astro-icon/components'
import { relUrl } from '../utils/url'

import TopBar from './TopBar.astro'

const docs = await getCollection('docs')
const getSidebarDocs = docs.filter(doc => doc.data.sidebar)

// Ubah docs jadi array dengan info minimal
const docItems = getSidebarDocs.map(doc => ({
	id: doc.id === 'home' ? relUrl('/') : relUrl(doc.id),
	title: doc.data.title,
	group: doc.data.sidebar?.group || 'Ungrouped',
	order: doc.data.sidebar?.order ?? 0
}))

// Kelompokkan dokumen ke grup berdasarkan SIDEBAR
const grouped: Record<string, { defaultActive: boolean; items: typeof docItems }> = {}

for (const group of SIDEBAR) {
	// ambil dokumen yang termasuk group ini
	const itemsInGroup = docItems
		.filter(item => item.group === group.label)
		.sort((a, b) => a.order - b.order)

	grouped[group.label] = {
		defaultActive: group.defaultActive,
		items: itemsInGroup
	}
}
---

<aside
	id="offcanvas"
	class="fixed top-0 left-0 z-50 h-dvh w-xs overflow-y-auto bg-zinc-900 p-4 transition-all duration-300 ease-in-out lg:visible lg:sticky lg:translate-none"
>
	<TopBar inMobile={false} />
	<nav class="grid">
		{
			Object.entries(grouped).map(([groupName, { defaultActive, items }]) => {
				const collapseId = crypto.randomUUID()
				return (
					<div>
						<button
							data-collapse-target={collapseId}
							class="flex w-full items-center justify-between"
						>
							<span>{groupName}</span>
							<Icon
								name="icon-chevron-down"
								class={`icon ${defaultActive ? 'iconIsActive' : ''}`}
							/>
						</button>
						<div
							id={collapseId}
							class={`collapse flex-col ${defaultActive ? 'collapseIsActive' : ''}`}
						>
							<div>
								{items.map(item => (
									<a href={item.id}>{item.title}</a>
								))}
							</div>
						</div>
					</div>
				)
			})
		}
	</nav>
</aside>
