---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import { SITE_PARAMS } from '../../site.config'

const { inMobile } = Astro.props

const title = SITE_PARAMS.title
const logo = SITE_PARAMS.logo
const tagline = SITE_PARAMS.tagline

const SITE_URL = `${import.meta.env.SITE}${import.meta.env.BASE_URL}`
---

<div class=`flex items-center justify-between ${inMobile ? 'lg:hidden' : ''}`>
	<a href={SITE_URL} class="flex items-center gap-2">
		<Image
			src={logo}
			alt={title}
			format="webp"
			width={56}
			height={56}
			class="size-14 rounded-full border-2 border-zinc-900 shadow-sm shadow-black"
		/>
		<span class="grid text-shadow-md text-shadow-black">
			<strong class="text-lg text-white">{title}</strong>
			<em class="text-xs text-zinc-400 not-italic">{tagline}</em>
		</span>
	</a>
	<button data-offcanvas-target="offcanvas" class=` ${inMobile ? '' : 'lg:hidden'}`>
		<Icon name={inMobile ? 'icon-bar-3' : 'icon-x-mark'} />
	</button>
</div>
