---
import { getEntry, render } from 'astro:content'
import historyMap from '../../data/historyMap.json'
import BaseLayout from '../../assets/layouts/BaseLayout.astro'
import NavContent from '../../assets/components/NavContent.astro'


// Ambil slug dari params
let { history } = Astro.params

const id = history || 'home' // jika root, gunakan id 'home'

// Ambil entry dari koleksi 'docs' berdasarkan id
const doc = await getEntry('docs', id)

// Jika tidak ditemukan, redirect ke 404
if (!doc) {
	return Astro.redirect('/404')
}

// History map
const historyFile =
	doc.filePath && historyMap[doc.filePath as keyof typeof historyMap]
		? historyMap[doc.filePath as keyof typeof historyMap]
		: []

console.log('🚀 log 🚀:', historyFile)
---

<BaseLayout>
	<div>
		<NavContent href={doc.id} />
		<h1>{doc.data.title}</h1>
		<article class="markdown">
      <ul class="history-list">
        {historyFile.map(history => (
          <li class="history-item">
            <div class="history-header">
              <strong>{history.message}</strong>
            </div>
            <div class="history-meta">
              <span>
                <code>{history.hash}</code>
              </span>
              <time datetime={new Date(history.date).toISOString()}>
                {new Date(history.date).toLocaleString()}
              </time>
            </div>
            <div class="history-author">
              Author: {history.author?.name} ({history.author?.email})
            </div>
            <div class="history-committer">
              Committer: {history.committer?.name} ({history.committer?.email})
            </div>
            {history.diff && (
              <pre class="history-diff">{history.diff}</pre>
            )}
          </li>
        ))}
      </ul>

      <style>
        .history-list {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        .history-item {
          border: 1px solid #0f0f0f;
          border-radius: 8px;
          padding: 1rem;
          margin-bottom: 1rem;
          background: #2c2c2c;
        }
        .history-header {
          font-size: 1.1rem;
          margin-bottom: 0.5rem;
        }
        .history-meta {
          font-size: 0.95rem;
          color: #cdcdcd;
          margin-bottom: 0.5rem;
          display: flex;
          gap: 1rem;
          align-items: center;
        }
        .history-author,
        .history-committer {
          font-size: 0.9rem;
          color: #c3c3c3;
        }
        .history-diff {
          background: #1d1d1d;
          padding: 0.5rem;
          border-radius: 4px;
          margin-top: 0.5rem;
          font-size: 0.9rem;
          overflow-x: auto;
        }
      </style>
		</article>
	</div>
</BaseLayout>
