---
import type { GetStaticPaths } from 'astro'
import { render, getCollection } from 'astro:content'
import historyMap from '../data/historyMap.json'
import BaseLayout from '../assets/layouts/BaseLayout.astro'
import ContentTab from '../assets/components/ContentTab.astro'

export const getStaticPaths = (async () => {
  const docs = await getCollection('docs')
  return [
    ...docs.map(doc => ({
      params: { slug: doc.id === 'home' ? '/' : doc.id },
      props: { doc },
    })),
  ]
}) satisfies GetStaticPaths

const { doc } = Astro.props
const { slug } = Astro.params
const { Content } = await render(doc)

// =================================== //
const filePath = doc.filePath ? `./${doc.filePath}` : '';
const history = doc.filePath && historyMap[doc.filePath as keyof typeof historyMap]
  ? historyMap[doc.filePath as keyof typeof historyMap]
  : [];
---

<BaseLayout>
  <div>
    <div>
      <div>
        <a href={slug}>Read</a>
        <a href={`/Talk-In/${doc.id}/`}>Discussion</a>
      </div>
      <div>
        <a href={`/Source-In/${doc.id}/`}>View Source</a>
        <a href={`/History-In/${doc.id}/`}>View History</a>
        <a href={`/History-In/${doc.id}/`}>Search</a>
      </div>
    </div>
    <div>
      <article class="markdown">
        <Content />
      </article>
    </div>
  </div>
</BaseLayout>