---
import type { GetStaticPaths } from 'astro'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'

export const getStaticPaths = (async () => {
	const docs = await getCollection('docs')

	return [
		...docs.map(entry => ({
			params: { history: `/History/${entry.id}` },
			props: { filePath: entry.filePath, title: entry.data.title, id: entry.id }
		}))
	]
}) satisfies GetStaticPaths

const { filePath, title, id } = Astro.props

import { execSync } from 'child_process'

// Ambil log versi ringkas
const history = execSync(`git log --pretty=format:"%h|%at|%s" -- "${filePath}"`)
	.toString()
	.split('\n')
	.map(line => {
		const [hash, timestamp, message] = line.split('|')
		return {
			hash,
			timestamp: Number(timestamp) * 1000,
			message
		}
	})

const GITHUB_REPO = 'https://github.com/masputrawae/READMEnya-ada-nanti'
---

<Layout href={id} activeLink="readPage">
	<ul>
		{
			history.map(i => {
				return (
					<li>
						<a href={`${GITHUB_REPO}/repo/blob/${i.hash}/${filePath}`}>
							timestamp: {i.timestamp} | message: {i.message} | hash: {i.hash}{' '}
						</a>
					</li>
				)
			})
		}
	</ul>
</Layout>
