---
import { Image } from "astro:assets";
import { SITE_PARAMS } from "../site.config";
import { relUrl } from "../utils/url";

const title = SITE_PARAMS.author
const baseUrl = SITE_PARAMS.baseUrl
const tagline = SITE_PARAMS.tagline
const logo = relUrl(SITE_PARAMS.logo)
---

<a href={baseUrl} class="flex items-center gap-2">
  <Image 
    src={logo} 
    alt={title}
    width={58}
    height={58}
    class="rounded-full border-2 border-zinc-900 shadow-sm shadow-black"
  />
  <span class="grid text-shadow-md text-shadow-black">
    <strong class="text-zinc-100 text-xl">{title}</strong>
    <em class="not-italic text-zinc-400">{tagline}</em>
  </span>
</a>