---
const { href, primary = false, customClass = '', title, ...rest } = Astro.props

const className = ''
const classPrimary = `${primary ? '' : ''}`

const classes = `${className} ${classPrimary} ${customClass}`
---

{
  !href ? (
    <button class={classes} {...rest}>
      {!title ? <slot /> : title }
    </button>
  ) : (
    <a href={href} class={classes} {...rest}>
      {!title ? <slot /> : title }
    </a>
  )
}
