---
// src > components > Button.astro
const { href = '#', isUrl = false, customClass = '', primary = false, ...rest } = Astro.props

// ini nulis class tailwind disini nanti :v:
const primaryClass = primary ? '' : ''
const className = `px-1.5 py-2.5 rounded-sm ${primaryClass} ${customClass}`
---
{
  isUrl ? (
    <a {href} class={className} {...rest}>
      <slot />
    </a>
  ) : (
    <button class={className} {...rest}>
      <slot />
    </button>
  )
}
