---
const { href, primary = false, customClass = '', title, ...rest } = Astro.props

const className = `inline-flex items-center px-4.5 py-1.5 rounded-md border border-neutral-700 shadow-sm shadow-black text-shadow-sm text-shadow-black transition-all duration-300 hover:bg-neutral-600/50 hover:text-white hover:shadow-md`

const classPrimary = primary ? 'bg-neutral-700/80 text-white' : 'text-neutral-300 bg-neutral-800/50'
const classes = `${className} ${classPrimary} ${customClass}`
---

{
	!href ? (
		<button class={classes} {...rest}>
			{!title ? <slot /> : title}
		</button>
	) : (
		<a href={href} class={classes} {...rest}>
			{!title ? <slot /> : title}
		</a>
	)
}
