---
const { href, customClass = '', primary = false, ...rest } = Astro.props
const className =
  'inline-flex cursor-pointer items-center justify-center rounded-sm border border-neutral-700 px-6 py-2 font-bold shadow-sm shadow-black hover:bg-neutral-900'
const cls = `${className} ${primary ? 'bg-neutral-700 text-white' : ''} ${customClass}`
---

{
  !href ? (
    <button class={cls} {...rest}>
      <slot />
    </button>
  ) : (
    <a href={href} class={cls} {...rest}>
      <slot />
    </a>
  )
}
