---
import { Image } from 'astro:assets'
import Button from './Button.astro'
import Badge from './Badge.astro'
const { project } = Astro.props
---

<article
	class="overflow-hidden border-b border-neutral-700 pb-10 md:grid md:grid-cols-2 md:gap-2.5 lg:grid-cols-1 xl:grid-cols-2"
>
	<picture
		class="mx-auto mb-10 block aspect-video max-w-full overflow-hidden rounded-2xl shadow-sm shadow-black/70 md:mb-0 lg:mb-10 lg:w-2xl xl:mb-0 xl:w-sm"
	>
		<Image
			src={project.data.thumbnail}
			alt={project.data.title}
			width={600}
			height={400}
			format="webp"
			densities={[1, 1.5, 2, 3]}
			inferSize
			class="w-full transition-all duration-300 ease-in-out hover:scale-110"
		/>
	</picture>
	<section
		class="prose prose-invert prose-a:no-underline prose-p:text-[14px] m-auto leading-relaxed xl:max-w-sm"
	>
		<strong class="my-3.5 block text-2xl">{project.data.title}</strong>
		<div class="flex items-center gap-1">
			{project.data.tags.map((i: string) => <Badge title={i} customClass="text-xs" />)}
		</div>
		<p class="text-sm text-neutral-400">{project.data.description}</p>
		<Button href=`${project.collection}/${project.id}` title="View Project" customClass="w-fit" />
	</section>
</article>
