---
const { items, heading, type = 'notes', withClock = true } = Astro.props
import { Image } from 'astro:assets'
import { timeFormat } from '../utils/timeFormat.js'
---

<section>
	<h2 class="text-4xl text-shadow-black text-shadow-sm">{heading}</h2>
	<slot />
	{
		type === 'notes' ? (
			<ul class="ml-0 list-none pl-0">
				{items.map((i) => {
					const timeMechine = new Date(i.data.date || 0).toISOString()
					const timeHumman = timeFormat(i.data.date || 0, withClock)
					return (
						<li class="flex items-center justify-between border-b border-dashed border-b-neutral-800">
							<a href={i.id} class="text-amber-400 no-underline">
								{i.data.title}
							</a>
							<time class="hidden md:block" datetime={timeMechine}>
								{timeHumman}
							</time>
						</li>
					)
				})}
			</ul>
		) : (
			items.map((i) => {
				const timeMechine = new Date(i.data.date || 0).toISOString()
				const timeHumman = timeFormat(i.data.date || 0, withClock)
				return (
					<figure class="mb-5 grid overflow-hidden border-b border-dashed border-b-neutral-700 py-10 md:grid-cols-2 md:gap-10">
						<picture class="aspect-video overflow-hidden rounded-lg shadow-md shadow-black">
							<Image
								src={i.data.thumbnail}
								alt={i.data.description}
								width={600}
								height={300}
								class="w-full object-cover"
							/>
						</picture>
						<figcaption class="grid">
							<a href={i.id} class="text-2xl text-amber-400 no-underline">
								{i.data.title}
							</a>
							<time datetime={timeMechine} class="text-neutral-500">
								{timeHumman}
							</time>
							<p>{i.data.description}</p>
						</figcaption>
					</figure>
				)
			})
		)
	}
</section>
