---
import { Icon } from 'astro-icon/components'
import { BRAND } from '../config/brand'

const Navigation = [
  { name: 'Home', url: '/', icon: 'icon--' },
  { name: 'About', url: '/about', icon: 'icon--' },
  { name: 'Projects', url: '/projects', icon: 'icon--' },
  { name: 'Blog', url: '/blog', icon: 'icon--' },
  { name: 'Contect', url: '/contact', icon: 'icon--' },
]
---

<div class="respons-nav">
  <a href="/" class="respons-nav__brand">
    <picture class="respons-nav__pic">
      <img src={BRAND.logo} alt={BRAND.name} class="respons-nav__logo" />
    </picture>

    <div class="respons-nav__title">
      <strong class="respons-nav__name">{BRAND.name}</strong>
      <em class="respons-nav__tagline">{BRAND.tagline}</em>
    </div>
  </a>

  <button class="btn" data-offcanvas="offcanvas">
    <Icon name="icon-bar-3" class="icon icon--nav icon--bar-3" />
  </button>
</div>

<nav class="navbar">
  <button class="btn" data-offcanvas="offcanvas">
    <Icon name="icon-bar-3" class="icon icon--nav icon--bar-3" />
  </button>
  <div class="nav">
    {
      Navigation.map(item => (
        <a href={item.url} class="nav__link" data-tab={item.name} role="button">
          <Icon name={item.icon} class="icon icon--nav" />
          <span>{item.name}</span>
        </a>
      ))
    }
  </div>
</nav>
