---
interface Menus {
  url?: string
  label?: string
  icon?: string
}

import { Icon } from 'astro-icon/components'
const { menus } = Astro.props
const activeClass =
  'bg-neutral-950/70 text-white shadow-xs shadow-black backdrop-blur-md hover:bg-neutral-900/50 md:bg-neutral-800'
const defaultClass =
  'rounded-sm px-3 text-neutral-300 text-shadow-sm text-shadow-black transition-all duration-300 hover:text-white'
---

<ul class="px-2.5 py-5">
  {
    menus.map((item: Menus) => {
      const nowUrl = Astro.url.pathname
      const itemUrl = item.url || ''
      const isActive =
        nowUrl === itemUrl ||
        (itemUrl !== '/' && Astro.url.pathname.startsWith(itemUrl))

      return (
        <li class={`${defaultClass} ${isActive ? activeClass : ''}`}>
          <a
            href={item.url}
            class="flex items-center gap-3 p-1.5"
            id={item.label}
          >
            <Icon
              name={item.icon}
              role="img"
              title={`icon ${item.label}`}
              aria-labelledby={item.label}
              class="size-5"
            />
            {item.label}
          </a>
        </li>
      )
    })
  }
</ul>
