---
import { Image, Picture } from 'astro:assets'
import Badge from './Badge.astro'
import Button from './Button.astro'
const { notes } = Astro.props
---

{
	notes.map((i) => (
		<article class="max-w-full overflow-hidden rounded-md text-[14px] shadow-sm shadow-black/80 transition-all duration-500 hover:shadow-lg hover:shadow-black/50">
			<picture class="m-auto aspect-video w-full overflow-hidden">
				<Image
					src={i.data.thumbnail}
					alt={i.data.title}
					width={600}
					height={400}
					format="webp"
					class="h-auto w-full"
				/>
			</picture>
			<section class="m-auto mt-3.5 flex max-w-lg flex-col gap-3.5 p-5">
				<strong class="text-2xl text-neutral-50">{i.data.title}</strong>
				<nav class="flex items-center gap-1.5">
					{i.data.tags.map((tag) => (
						<Badge href={tag} title={tag} customClass="text-xs" />
					))}
				</nav>
				<p>{i.data.description}</p>
				<Button title="Read More" href={`${i.id}/`} customClass="font-semibold text-lg" />
			</section>
		</article>
	))
}
