---
import Search from 'astro-pagefind/components/Search'
import { relUrl } from '../utils/url'
import Brand from '../components/Brand.astro'

const { href, activeLink } = Astro.props

const readPage = relUrl(`/${href}/`) === relUrl(`home`) ? relUrl(`/`) : relUrl(`/${href}/`)
const discussionPage = relUrl(`/Talk:${href}/`)
const sourcePage = relUrl(`/Source:${href}/`)
const historyPage = relUrl(`/History:${href}/`)
const searchPage = relUrl(`/search/`)

const baseClass = 'border border-b-0 border-zinc-800 px-4 py-1'
---

<div>
	<Brand />

	<div class="flex items-center justify-between">
		<div class="flex items-center justify-between">
			<a
				class={`${baseClass} ${activeLink === 'readPage' ? 'bg-zinc-800 text-white' : ''}`}
				href={readPage}>Read</a
			>
			<a
				class={`${baseClass} ${activeLink === 'discussionPage' ? 'bg-zinc-800 text-white' : ''}`}
				href={discussionPage}>Discussion</a
			>
		</div>

		<div class="flex items-center justify-between">
			<a
				class={`${baseClass} ${activeLink === 'sourcePage' ? 'bg-zinc-800 text-white' : ''}`}
				href={sourcePage}>View Source</a
			>
			<a
				class={`${baseClass} ${activeLink === 'historyPage' ? 'bg-zinc-800 text-white' : ''}`}
				href={historyPage}>View History</a
			>
			<Search className="bg-neutral-950" />
		</div>
	</div>
</div>
